<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <span class="category-info-text">Выберите категорию товара</span><br>
      <form action="/add_products_with_chars" method="get" class="select-form">
        <select name="category" class="category-select">
          <option th:each="cat :${category}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
        </select>
      <button type="submit" class="add-btn">Далее</button>
      <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden"/>
    </form>
  </div>
</div>
</body>
</html>