<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <h2>Добавьте новый товар</h2><br>
    <form action="/add_products_with_chars" method="post" class="container-form">
      <p th:text="'Категория: ' + ${category.getName()}"></p>
      <input type="hidden" th:name="category" th:value="${category.getId()}">
      <div th:each="option : ${options}">
        <input type="text" name="values" th:placeholder="'Введите ' + ${option.getOption()}" class="input_edit">
      </div>
      <input type="text" name="name" placeholder="Название товара" class="input_edit">
      <input type="number" name="price" placeholder="Цена товара" class="input_edit">
      <button type="submit" class="add-btn none-margin-left">Добавить</button>
      <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden"/>
    </form>
  </div>
  <div th:if="${empty_data == false}" class="correct-format-message">
    <span>Ошибка добавления товара, необходимо заполнить все поля</span>
  </div>
</div>
</body>
</html>