<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <p class="list-order-text" th:text="'В заказе № ' + ${order.getId()} + ' следующие товары: '"></p>
    <div class="products-order">
      <div class="orders-container-info">
        <p class="orders-container-info-text">Название</p>
      </div>
      <div class="orders-container-info">
        <p class="orders-container-info-text">Кол-во</p>
      </div>
      <div class="orders-container-info">
        <p class="orders-container-info-text">Цена</p>
      </div>
    </div>
    <br>
    <div th:each="item : ${order_products}" class="products-order" >
        <div class="orders-container-info products-name-price">
          <p th:text="${item.getProduct().getName()}" class="blue-text"></p>
        </div>
        <div class="orders-container-info products-name-price">
          <p th:text="${item.getQuantityProducts()}" class="blue-text"></p>
        </div>
        <div class="orders-container-info products-name-price">
          <p th:text="${item.getProduct().getPrice()}+' тг.'" class="blue-text"></p>
        </div>
    </div>
    <p th:text="'Общая стоимость товаров: ' + ${totalCost}" class="order-user-text"></p>
  </div>
</div>
</body>
</html>