<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <h2>Все Отзывы</h2>
    <br>
    <div th:each="el : ${reviews}">
      <h4>
        <p th:text="'Отзыв №: ' + ${el.getId()}"></p>
      </h4>
      <p th:text="'Пользователь: ' + ${el.getUser().getFirstName() + ' ' + el.getUser().getLastName()}"></p>
      <p th:text="'Товар: ' + ${el.getProduct().getName()}"></p>
      <p th:text="'Оценка: ' + ${el.getScore()}"></p>
      <p th:text="'Текст: ' + ${el.getText()}"></p>
      <form th:action="'/admin/reviews/published/' + ${el.getId()}" method="post">
        <button type="submit" class="btn">Опубликовать</button>
      </form>
      <form th:action="'/admin/reviews/delete/' + ${el.getId()}" method="post">
        <button type="submit" class="btn">Удалить</button>
      </form>
      <br>
    </div>
  </div>
</div>
</body>
</html>


