<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <span class="category-info-text">Все Отзывы</span>
    <br>
    <div th:each="el : ${reviews}">
      <h4>
        <span class="category-info-text smaller-text" th:text="'Отзыв №: ' + ${el.getId()}"></span>
      </h4>
      <p th:text="'Пользователь: ' + ${el.getUser().getFirstName() + ' ' + el.getUser().getLastName()}"></p>
      <a th:href="'/products/'+${el.getProduct().getId()}+'/details'">
        <p th:text="'Товар: ' + ${el.getProduct().getName()}"></p>
      </a>
      <p th:text="'Оценка: ' + ${el.getScore()}"></p>
      <p th:text="'Текст: ' + ${el.getText()}"></p>
      <div class="btn-block">
        <form th:action="'/admin/reviews/published/' + ${el.getId()}" method="post">
          <button type="submit" class="add-btn none-margin-left">Опубликовать</button>
        </form>
        <form th:action="'/admin/reviews/delete/' + ${el.getId()}" method="post">
          <button type="submit" class="add-btn none-margin-left">Удалить</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>


