<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
    <div class="container">
        <h2>Корзина</h2>
        <br><br>
        <div th:each="el : ${baskets}" class="container-block">
            <div class="picture-product-info">
                <div class="product-basket-pic">
                    <img th:src="@{/images?file=__${el.getProduct().getPhoto()}__}">
                </div>
                <div class="product-info-text">
                    <p th:text="${el.getProduct().getName()}"></p>
                    <br>
                    <p th:text="${el.getProduct().getPrice()}+' тг.'" class="price-basket"></p>
                </div>
            </div>
            <div class="method">
                <form th:action="'/basket/' + ${el.getId()} + '/decrease'"  method="post" class="form-inc-dec">
                    <button type="submit" class="count min">
                        <img src="/images/minus.svg" class="img-minus-plus">
                    </button>
                </form>
                <span th:text="${el.getQuantity()}" class="txt"></span>
                <form th:action="'/basket/' + ${el.getId()} + '/increase'"  method="post" class="form-inc-dec">
                    <button type="submit" class="count plus">
                        <img src="/images/plus.svg" class="img-minus-plus">
                    </button>
                </form>
                <form th:action="'/basket/' + ${el.getId()} + '/delete'" method="post" class="form-inc-dec">
                    <button type="submit" class="btn-del">
                        <img src="/images/delete.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="total-cost-order-container">
            <div th:if="${baskets}" class="total_cost">
                <p th:text="'Сумма к оплате ' + ${total_cost} + ' тг.'"></p>
            </div>
            <div th:if="${baskets}" class="order-icon-container">
                <form action="/basket/add_to_order_product" method="post" class="add_order_products">
                    <input name="address" placeholder="Введите адрес доставки" class="nav_edit_address">
                    <button type="submit" class="check_out">
                        <img src="/images/check_out.svg">
                    </button>
                    <div class="order-text">
                        <span>Оформить заказ</span>
                    </div>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden"/>
                </form>
            </div>
            <br>
            <div th:if="${addressEmpty==true}">
                <span class="correct-format-message">Заполните адрес доставки</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>


