<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
    <div class="container">
        <h2>Корзина</h2>
        <div th:if="${baskets}" class="total_cost">
            <p th:text="'Общая стоимость всех товаров в корзине: ' + ${total_cost}"></p>
        </div>
        <div th:each="el : ${baskets}" class="container-block">
            <p th:text="'Пользователь: ' + ${el.getUser().getFirstName()} + ${el.getUser().getLastName()}"></p>
            <p th:text="'Название товара: ' + ${el.getProduct().getName()}"></p>
            <p th:text="'Категория товара: ' + ${el.getProduct().getCategory().getName()}"></p>
            <p th:text="'Цена товара: ' + ${el.getProduct().getPrice()}"></p>
            <div class="method">
                <form th:action="'/basket/' + ${el.getId()} + '/decrease'"  method="post">
                    <button type="submit" class="count min">-</button>
                </form>
                <span th:text="${el.getQuantity()}" class="txt"></span>
                <form th:action="'/basket/' + ${el.getId()} + '/increase'"  method="post">
                    <button type="submit" class="count plus">+</button>
                </form>
            </div>
            <form th:action="'/basket/' + ${el.getId()} + '/delete'" method="post">
                <button type="submit" class="btn del">Удалить</button>
            </form>
        </div>
        <div th:if="${baskets}" class="add_order_products">
            <form action="/basket/add_to_order_product" method="post">
                <input name="address" placeholder="введите адрес" class="nav_edit">
                <button type="submit">добавить в заказ</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>


