<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <span class="category-info-text">Добавить новую категорию и характеристику товаров</span><br>
    <form action="/categories" method="post" class="container-form">
      <input type="text" name="name" placeholder="Название категорий" class="input_edit">
      <div th:name="options" class="container-form">
        <input type="text" name="options" placeholder="Введите характеристики через запятую" class="input_edit">
      </div>
      <br>
      <button type="submit" class="add-btn">Добавить</button>
    </form>
    <br>
    <div th:if="${emptyOptionOrNotUniqueCategory == false}">
      <span class="category-info-text orange">Введите характеристики и уникальную категорию</span>
    </div>
  </div>
</div>
</body>
</html>

