<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
    <div class="container">
        <h2>Заказы</h2>
        <br>
        <div th:each="el : ${orders}">
            <h4>
                <p th:text="'Заказ №: ' + ${el.getId()}"></p>
            </h4>
            <p th:text="'Дата заказа: ' + ${el.getOrderDate()}"></p>
            <p th:text="'Адрес доставки: ' + ${el.getAddress()}"></p>
            <p th:text="'Пользватель: ' + ${el.getUser().getFirstName() + ' ' + el.getUser().getLastName()}"></p>
            <p th:text="'Статус заказа: ' + ${el.getStatus()}"></p>
            <div class="products-in-order">
                <h4>
                    <p th:text="'В заказе № ' + ${el.getId()} + ' следующие товары: '"></p>
                </h4>
                <div th:each="item : ${order_products}">
                    <p th:text="'Название товара: ' + ${item.getProduct().getName()}"></p>
                    <p th:text="'Название товара: ' + ${item.getProduct().getPrice()}"></p>
                    <p th:text="'Количество товара: ' + ${item.getQuantityProducts()}"></p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

</body>
</html>


