<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <h2>Карточка товара</h2>
    <br>
    <div th:each="el : ${product}" class="container-block-second">
      <div class="product-info">
        <div class="product-inf picture">
          <img th:src="@{/images?file=__${el.getPhoto()}__}" class="picture">
        </div>
        <div class="product-inf chars">
          <br>
          <h2 th:text="${el.getName()}"></h2>
          <p th:text="${el.getCategory().getName()}" class="category-text"></p>
          <span class="char-head">Характеристики</span>
          <br>
          <div th:each="option, value : ${options}" class="inline-block">
            <p th:text="${option.getOption()}+': '" class="char-text"></p>
            <p th:text="${values.get(value.index)}" class="char-text"></p>
          </div>
        </div>
        <div class="product-inf price">
          <p th:text="${el.getPrice()}"></p>&nbsp;<span>&#8376;</span>
        </div>
      </div>
      <br>
      <h3>Отзывы</h3>
      <p th:text="'средняя оценка товара: ' + ${average}" class="bold-text"></p>
      <br>
      <div class="review-box">
        <div th:if="${#authorization.expr('isAuthenticated()')}">
          <div th:unless="${reviewStatus}">
            <p class="review-had">Вы уже оставили отзыв о данном товаре, отзыв на проверке</p>
          </div>
          <div th:if="${reviewBlock}" class="published_block">
            <span class="review-had">Оставьте отзыв</span>
            <div th:if="${emptyParam == true and #authorization.expr('isAuthenticated()')}">
              <span class="correct-format-message">Необходимо поставить оценку и написать комментарий</span>
            </div>
            <form method="post" class="form-textarea">
              <textarea name="text" class="review-input-text" placeholder="Напишите отзыв здесь"></textarea>
              <div class="block-for-radio-score">
                <label for="1">1</label>
                <input type="radio" id="1" name="score" class="review-score" value="1">
                <label for="2">2</label>
                <input type="radio" id="2" name="score" class="review-score" value="2">
                <label for="3">3</label>
                <input type="radio" id="3" name="score" class="review-score" value="3">
                <label for="4">4</label>
                <input type="radio" id="4" name="score" class="review-score" value="4">
                <label for="5">5</label>
                <input type="radio" id="5" name="score" class="review-score" value="5">
              </div>
              <button type="submit" class="product-btn">Оставить отзыв</button><br>
            </form>
          </div>
        </div>
        <div th:if="${#authorization.expr('!isAuthenticated()')}">
            <span class="review-had">Чтобы оставить отзыв о товаре, Вам необходимо авторизоваться!!!</span>
        </div>
      </div>
      <div class="review-second-box">
        <div th:each="review : ${reviews}" class="review-block">
          <div class="review-user">
            <img th:src="@{/images?file=__${review.getUser().getPhotoPath()}__}" class="review-user-pic" alt="без фото">
            <div class="review-user-point">
              <div class="user-info-name-score">
                <p th:text="${review.getUser().getFirstName()} + ' '
                + ${review.getUser().getLastName()}" class="user"></p>
                <p th:text="${review.getScore()}" class="bold-text"></p>
              </div>
              <p th:text="${review.getText()}" class="review-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>



