<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <h2>Карточка товара</h2>
    <br>
    <div th:each="el : ${product}" class="container-block">
      <div class="product-info">
        <div class="product-inf picture">
          <img th:src="@{${el.getPhoto()}}" class="picture">
        </div>
        <div class="product-inf chars">
          <br>
          <h2 th:text="${el.getName()}"></h2>
          <p th:text="${el.getCategory().getName()}" class="category-text"></p>
          <span class="char-head">Характеристики</span>
          <br>
          <div th:each="option, value : ${options}" class="inline-block">
            <p th:text="${option.getOption()}+': '" class="char-text"></p>
            <p th:text="${values.get(value.index)}" class="char-text"></p>
          </div>
        </div>
        <div class="product-inf price">
          <p th:text="${el.getPrice()}"></p>&nbsp;<span>&#8376;</span>
        </div>
      </div>
      <br>
      <h3>Отзывы</h3>
      <p th:text="'средняя оценка товара: ' + ${average}" class="bold-text"></p>
      <br>
      <div class="review-box">
        <div th:if="${#authorization.expr('isAuthenticated()')}">
          <span class="review-had">Оставьте отзыв</span>
          <form method="post" class="form-textarea">
            <textarea name="text" class="review-input-text" placeholder="Напишите отзыв здесь"></textarea>
            <img src="/images/starts.svg" class="image-stars">
            <input type="text" name="score" class="review-score">
            <button type="submit" class="product-btn">Оставить отзыв</button><br>
          </form>
        </div>
        <div th:if="${#authorization.expr('!isAuthenticated()')}">
          <span class="review-had">Чтобы оставить отзыв о товаре, Вам необходимо авторизоваться!!!</span>
        </div>
      </div>
      <div class="review-second-box">
        <div th:each="review : ${reviews}" class="review-block">
          <div class="review-user">
            <!--<img src="/images/review-user.svg" alt="user" class="review-user-pic">-->
            <img th:src="@{${review.getUser().getPhotoPath()}}" class="review-user-pic" alt="без фото">
            <div class="review-user-point">
              <div class="user-info-name-score">
                <p th:text="${review.getUser().getFirstName()} + ' '
                + ${review.getUser().getLastName()}" class="user"></p>
                <p th:text="${review.getScore()}" class="bold-text"></p>
              </div>
              <p th:text="${review.getText()}" class="review-text"></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>



