<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <h2>Подробнее о товаре</h2>
    <div th:each="el : ${product}" class="container-block">
      <p th:text="'Id товара: ' + ${el.getId()}"></p>
      <p th:text="'Категория товара: ' + ${el.getCategory().getName()}"></p>
      <p th:text="'Название товара: ' + ${el.getName()}"></p>
      <p th:text="'Цена товара: ' + ${el.getPrice()}"></p>
        <div th:each="option, value : ${options}" class="inline-block">
          <p th:text="${option.getOption()} + ': ' + ${values.get(value.index)}"></p>
        </div>
      <br>
      <h3>Отзывы</h3>
      <p th:text="'средняя оценка товара: ' + ${average}" class="bold-text"></p>
      <br>
      <div th:each="review : ${reviews}" class="container-block">
        <p th:text="${review.getUser().getFirstName()} + ' ' + ${review.getUser().getLastName()}" class="user"></p>
        <p th:text="'оценка (от 1 до 5): ' + ${review.getScore()}" class="bold-text"></p>
        <p th:text="${review.getText()}" class="review-text"></p>
      </div>
    </div>
    <br>
    <div th:if="${containsUser}">
      <h2>Добавить отзыв к товару</h2>
      <form method="post">
        <input type="text" name="text" placeholder="текст отзыва">
        <input type="text" name="score" placeholder="оценка (от 1 до 5)">
        <button type="submit" class="btn">Оставить отзыв</button>
      </form>
      <br><br>
    </div>
    <div th:if="${nullUser}">
      <span>Чтобы оставить отзыв о товаре, Вам необходимо авторизоваться!!!</span>
    </div>
  </div>
</div>
</body>
</html>



