<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
    <div class="container block">
        <h2>Все товары</h2>
        <div th:each="el : ${products}" class="container-block">
            <p th:text="'Id товара: ' + ${el.getId()}"></p>
            <p th:text="'Название товара: ' + ${el.getName()}"></p>
            <p th:text="'Цена товара: ' + ${el.getPrice()}"></p>
            <div class="block-for-btn">
                <a th:href="'/products/' + ${el.getId()} + '/details'" class="nav_edit">
                    <button class="btn">Просмотреть</button>
                </a>
                <div th:if="${#authorization.expr('isAuthenticated()')}" class="block-for-btn">
                    <a th:href="'/products/' + ${el.getId()} + '/edit'" class="nav_edit">
                        <button class="btn edit">Изменить</button>
                    </a>
                    <form th:action="'/products/' + ${el.getId()}" method="post">
                        <button type="submit" class="btn del">Удалить</button>
                    </form>
                    <form th:action="'/products/' + ${el.getId()} + '/add_basket'" method="post">
                        <button type="submit" class="btn">В корзину</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <p th:text="'Текущяя страница: ' + ${currentPage}"></p>
        <br>
        <form action="/products" method="get" class="pages-form">
            <div th:each="el : ${allPages}">
                <button th:name="page" th:text="${el}" th:value="${el}" th:class="${activePage==el} ? activePage : pages"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>


