<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/main.css">
  <title>Товары</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
  <div class="container">
    <form action="/register_page" method="post" class="register">
      <h2>Регистрация</h2>
      <input type="text" name="first_name" class="input_edit" placeholder="Введите имя">
      <input type="text" name="last_name" class="input_edit" placeholder="Введите фамилию">
      <input type="text" name="email" class="input_edit" placeholder="Введите логин">
      <input type="text" name="password" class="input_edit" placeholder="Придумайте пароль">
      <button type="submit" class="regis">Зарегистрироваться</button>
    </form>
  </div>
</div>
</body>
</html>


