<div th:fragment="header" class="header">
    <div class="header-block">
        <a href="/categories" class="icon category-btn">
            <button class="btn nav_edit category-icon">Добавить категорию</button>
        </a>
        <a href="/add_products" class="icon category-btn">
            <button class="btn nav_edit category-icon">Добавить товар</button>
        </a>
        <a href="/products?page=1" class="icon basket-btn">
            <button class="btn nav_edit">Все товары</button>
        </a>
        <a href="/basket" class="icon basket-btn">
            <button class="btn nav_edit">Корзина</button>
        </a>
        <a href="/orders" class="icon basket-btn">
            <button class="btn nav_edit">Заказы</button>
        </a>
        <a href="/admin/reviews" class="icon basket-btn">
            <button class="btn nav_edit">Все Отзывы</button>
        </a>
        <a href="/admin/orders" class="icon basket-btn">
            <button class="btn nav_edit">Все Заказы</button>
        </a>
        <a href="/admin/homePage" class="icon basket-btn">
            <button class="btn nav_edit">Кабинет</button>
        </a>
    </div>
</div>

