<div th:fragment="header" class="header">
    <div class="header-block">
        <a href="/categories" class="icon category-btn">
            <button class="btn nav_edit category-icon">Добавить категорию</button>
        </a>
        <a href="/add_products" class="icon category-btn">
            <button class="btn nav_edit category-icon">Добавить товар</button>
        </a>
        <a href="/products?page=1" class="icon basket-btn">
            <button class="btn nav_edit">Все товары</button>
        </a>
        <a href="/basket" class="icon basket-btn">
            <button class="btn nav_edit">Корзина</button>
        </a>
        <a href="/orders" class="icon basket-btn">
            <button class="btn nav_edit">Заказы</button>
        </a>
        <a href="/admin/reviews" class="icon basket-btn">
            <button class="btn nav_edit">Все Отзывы</button>
        </a>
        <a href="/admin/orders" class="icon basket-btn">
            <button class="btn nav_edit">Все Заказы</button>
        </a>
        <a href="/admin/homePage" class="icon basket-btn">
            <button class="btn nav_edit">Кабинет</button>
        </a>
        <a href="/register_page" class="icon basket-btn">
            <button class="btn nav_edit">Регистрация</button>
        </a>
        <div th:if="${#authorization.expr('!isAuthenticated()')}">
            <a href="/login" class="icon basket-btn">
                <button class="btn nav_edit">Войти</button>
            </a>
        </div>
        <div th:if="${#authorization.expr('isAuthenticated()')}">
            <a href="/logout" class="icon basket-btn">
                <button class="btn nav_edit">Выйти</button>
            </a>
        </div>
    </div>
</div>

