<div th:fragment="header" class="header" xmlns="http://www.w3.org/1999/html">
    <div class="header-block">
        <img src="/images/logo.jpg" alt="logo" class="logo">
        <div class="header-block-second">
            <div th:if="${#authorization.expr('hasRole(''admin'')')}">
                <a href="/categories" class="main-links">
                    <img src="/images/admin.svg" class="main-image">
                    <span>Добавить категорию</span>
                </a>
            </div>
            <div th:if="${#authorization.expr('hasRole(''admin'')')}">
                <a href="/add_products" class="main-links">
                    <img src="/images/admin.svg" class="main-image">
                    <span>Добавить товар</span>
                </a>
            </div>
            <div th:if="${#authorization.expr('hasRole(''admin'')')}">
                <a href="/admin/reviews" class="main-links">
                    <img src="/images/admin.svg" class="main-image">
                    <span>Все Отзывы</span>
                </a>
            </div>
            <div th:if="${#authorization.expr('hasRole(''admin'')')}">
                <a href="/admin/orders" class="main-links">
                    <img src="/images/admin.svg" class="main-image">
                    <span>Все Заказы</span>
                </a>
            </div>
            <a href="/products" class="main-links">
                <img src="/images/products.svg" class="main-image">
                <span>Все товары</span>
            </a>
            <a href="/basket" class="main-links">
                <img src="/images/basket_header.svg" class="main-image">
                <span>Корзина</span>
            </a>
            <a href="/orders" class="main-links">
                <img src="/images/orders.svg" class="main-image">
                <span>Заказы</span>
            </a>
            <div th:if="${#authorization.expr('isAuthenticated()')}">
                <a href="/admin/homePage" class="main-links">
                    <img src="/images/profile.svg" class="main-image">
                    <span>Профиль</span>
                </a>
            </div>
            <div th:if="${#authorization.expr('!isAuthenticated()')}">
                <a href="/register_page" class="main-links">
                    <img src="/images/register.svg" class="main-image">
                    <span>Регистрация</span>
                </a>
            </div>
            <div th:if="${#authorization.expr('!isAuthenticated()')}">
                <a href="/login" class="main-links">
                    <img src="/images/logout.svg" class="main-image">
                    <span>Войти</span>
                </a>
            </div>
            <div th:if="${#authorization.expr('isAuthenticated()')}">
                <form action="/logout" class="main-links logout" method="post">
                    <button class="btn-logout">
                        <img src="/images/logout.svg" class="main-image">
                        <span>Выйти</span>
                    </button>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden"/>
                </form>
            </div>
        </div>
    </div>
</div>